@model IEnumerable<Bee.Models.EventType>

@{
    ViewData["Title"] = "Tipos de Evento";
}

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="sucesso">
            <div class="alert alert-success d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 rounded" role="alert">
                <i class="bi bi-check-lg fs-1 me-3"></i>
                <div>
                    <div class="alert-heading align-items-center">
                        <strong class="me-4 pe-1">@TempData["SuccessMessage"]</strong>
                        <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                    </div>
                    Você pode encontrá-la na tabela.
                </div>
            </div>
        </div>
    }
    if (TempData["SuccessMessage2"] != null)
    {
        <div class="sucesso">
            <div class="alert alert-success d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 rounded" role="alert">
                <i class="bi bi-check-lg fs-1 me-3"></i>
                <div>
                    <div class="alert-heading align-items-center">
                        <strong class="me-4 pe-1">@TempData["SuccessMessage2"]</strong>
                        <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                    </div>
                    Você pode encontrá-la na tabela.
                </div>
            </div>
        </div>
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}