@model Bee.Models.Event

@{
    ViewData["Title"] = "Informações";
}

<div class="container mt-3">
    <h1 class="fw-bold display-2 text-bee-dark mb-3">@ViewData["Title"]</h1>
    <hr />
</div>

<div>
    <h4 class="mb-3">Evento</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FranchiseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FranchiseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Objective)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objective)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
    </dl>
</div>
<div class="pt-2 pb-5">
    <a class="pl-3 btn btn-bee-crud text-decoration-none" asp-action="Index">
        <i class="bi bi-arrow-left-short"></i>Voltar
    </a>
    <a class="btn btn-bee-crud text-decoration-none" asp-action="Edit" asp-route-id="@Model?.EventId">
        <i class="bi bi-pen"></i> Editar
    </a>
</div>
<div class="pt-2 pb-2"></div>